<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" crossorigin="anonymous">
    <title>HomePage</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/temps">Temperatures</a></li>
        </ul>
    </nav>

    <div class="container">


        <h1>Iot 2 Final Project</h1>

        <h5>By Da Zhuo Xie and Valentine Nneji</h5>

        <h3>About the Project</h3>
        <p>This project was made using a raspberry pi with the purpose to find the relationship between
            the presence of someone in the room and the temperature of the room. Our hypothesis is that
            the room gets warmer with the presence of people inside the room. We use ultrasonic sensors
            to detect the presence of people entering or exiting the room. The temperature sensor records
            the temperature of the room every 15 minutes.
        </p>
        <br>
        <br>
        <br>
        <h3>Technologies Used</h3>
        <p>For the hardware, we used a Raspberry Pi, ultrasonic sensors and a temperature sensor to track the
            movement and temperatures. We also use wires and other connection components.

            As for the software, we used Flask, Javascript, ChartJS, HTML, CSS,
        </p>



    </div>
</body>
</html>
